/* VARIABLES */
/* VARIABLES BTN-DEFAULT */
/* btn-default normal */
/* btn-default normal */
/* btn-default outline */
/* btn-default outline */
/* VARIABLES BTN-DEFAULT */
/* VARIABLES BTN-RED */
/* btn-red normal */
/* btn-red normal */
/* btn-red outline */
/* btn-red outline */
/* VARIABLES BTN-RED */
/* VARIABLES BTN-GREEN */
/* btn-green normal */
/* btn-green normal */
/* btn-green outline */
/* btn-green outline */
/* VARIABLES BTN-GREEN */
/* VARIABLES BTN-BLUE */
/* btn-blue normal */
/* btn-blue normal */
/* btn-blue outline */
/* btn-blue outline */
/* VARIABLES BTN-BLUE */
/* VARIABLES BTN-ORANGE */
/* btn-orange normal */
/* btn-orange normal */
/* btn-orange outline */
/* btn-orange outline */
/* VARIABLES BTN-ORANGE */
/* VARIABLES BTN-PURPLE */
/* btn-purple normal */
/* btn-purple normal */
/* btn-purple outline */
/* btn-purple outline */
/* VARIABLES BTN-PURPLE */
/* VARIABLES */
/* GENERAL */
/* GLOBAL CFG */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* GLOBAL CFG */
/* TEXT CFG */
body {
  font-family: "Roboto"; }
  body h1 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal; }
  body h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal; }
  body h3 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic; }
  body p {
    font-size: 14px;
    font-style: normal; }

/* TEXT CFG */
/* IMPORT FONTS ROBOTO */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf"); }

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }

/* IMPORT FONTS ROBOTO */
/* GENERAL */
/* CLASS */
/* BTN OSPAF */
.btn {
  cursor: pointer;
  outline: none;
  border: 1px solid;
  border-radius: 5px; }

.btn-sm {
  padding: 5px;
  font-size: 12px; }

.btn-md {
  padding: 7px;
  font-size: 14px; }

.btn-lg {
  padding: 9px;
  font-size: 14px; }

/* BTN DEFAULT */
.btn-default {
  background-color: #D2DAE2;
  border-color: #D2DAE2;
  color: #000000; }

.btn-default:hover {
  background-color: #7F8FA6;
  border-color: #7F8FA6; }

.btn-default-outline {
  background-color: #FFFFFF;
  border-color: #D2DAE2;
  color: #000000; }

.btn-default-outline:hover {
  background-color: #F1F1F1;
  border-color: #7F8FA6; }

/* BTN DEFAULT */
/* BTN RED */
.btn-red {
  background-color: #F43C3E;
  border-color: #F43C3E;
  color: #F5F6FA; }

.btn-red:hover {
  background-color: #CF2829;
  border-color: #CF2829; }

.btn-red-outline {
  background-color: #FFFFFF;
  border-color: #F43C3E;
  color: #000000; }

.btn-red-outline:hover {
  background-color: #F1F1F1;
  border-color: #CF2829; }

/* BTN RED */
/* BTN GREEN */
.btn-green {
  background-color: #2ECC71;
  border-color: #2ECC71;
  color: #F5F6FA; }

.btn-green:hover {
  background-color: #27AE60;
  border-color: #27AE60; }

.btn-green-outline {
  background-color: #FFFFFF;
  border-color: #2ECC71;
  color: #000000; }

.btn-green-outline:hover {
  background-color: #F1F1F1;
  border-color: #27AE60; }

/* BTN GREEN */
/* BTN BLUE */
.btn-blue {
  background-color: #00A8FF;
  border-color: #00A8FF;
  color: #F5F6FA; }

.btn-blue:hover {
  background-color: #037FF1;
  border-color: #037FF1; }

.btn-blue-outline {
  background-color: #FFFFFF;
  border-color: #00A8FF;
  color: #000000; }

.btn-blue-outline:hover {
  background-color: #F1F1F1;
  border-color: #037FF1; }

/* BTN BLUE */
/* BTN ORANGE */
.btn-orange {
  background-color: #FA690E;
  border-color: #FA690E;
  color: #F5F6FA; }

.btn-orange:hover {
  background-color: #DC4712;
  border-color: #DC4712; }

.btn-orange-outline {
  background-color: #FFFFFF;
  border-color: #FA690E;
  color: #000000; }

.btn-orange-outline:hover {
  background-color: #F1F1F1;
  border-color: #DC4712; }

/* BTN ORANGE */
/* BTN PURPLE */
.btn-purple {
  background-color: #9B59B6;
  border-color: #9B59B6;
  color: #F5F6FA; }

.btn-purple:hover {
  background-color: #8E44AD;
  border-color: #8E44AD; }

.btn-purple-outline {
  background-color: #FFFFFF;
  border-color: #9B59B6;
  color: #000000; }

.btn-purple-outline:hover {
  background-color: #F1F1F1;
  border-color: #8E44AD; }

/* BTN PURPLE */
/* BTN OSPAF */
/* MODAL CLASS */
.fade-background {
  display: none;
  opacity: 0;
  position: fixed;
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  transition: 1s;
  overflow: scroll; }

.modal-window {
  width: 600px;
  background-color: #FFF;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s; }
  .modal-window .modal-header {
    padding: 15px;
    border-bottom: 1px solid #444444;
    color: #444444; }
    .modal-window .modal-header .modal-header-icon {
      position: absolute;
      right: 15px;
      cursor: pointer; }
  .modal-window .modal-main {
    padding: 15px; }
  .modal-window .modal-footer {
    padding: 5px 15px;
    text-align: right;
    border-top: 1px solid #444444; }

/* MODAL CLASS */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../icons/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("../icons/material-design-icons/iconfont/Material Icons"), local("../icons/material-design-icons/iconfont/MaterialIcons-Regular"), url("../icons/material-design-icons/iconfont/MaterialIcons-Regular.woff2") format("woff2"), url("../icons/material-design-icons/iconfont/MaterialIcons-Regular.woff") format("woff"), url("../icons/material-design-icons/iconfont/MaterialIcons-Regular.ttf") format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/* CLASS */
/* GRID */
/* OSPAF GRID */
.container {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden; }
  .container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em; }
    .container .row div {
      padding: 0 1em;
      margin: 1em 0; }
      .container .row div div {
        word-wrap: break-word; }

@media screen and (max-device-width: 380px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-sm-11, .container > .row > .col-sm-10, .container > .row > .col-sm-9, .container > .row > .col-sm-8, .container > .row > .col-sm-7, .container > .row > .col-sm-6, .container > .row > .col-sm-5, .container > .row > .col-sm-4, .container > .row > .col-md-12, .container > .row > .col-md-6, .container > .row > .col-md-4, .container > .row > .col-md-3, .container > .row > .col-md-5, .container > .row > .col-md-7, .container > .row > .col-md-8, .container > .row > .col-md-9, .container > .row > .col-md-10, .container > .row > .col-md-11, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5, .container > .row > .col-lg-4, .container > .row > .col-lg-3, .container > .row > .col-lg-2, .container > .row > .col-lg-1 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-md-2, .container > .row > .col-sm-3 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-md-1, .container > .row > .col-sm-2 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-1 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1 {
    flex-basis: calc(100% / 12); } }

@media screen and (min-device-width: 380px) and (max-device-width: 768px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-md-6, .container > .row > .col-md-4, .container > .row > .col-md-5, .container > .row > .col-md-7, .container > .row > .col-md-8, .container > .row > .col-md-9, .container > .row > .col-md-10, .container > .row > .col-md-11, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5, .container > .row > .col-lg-4, .container > .row > .col-lg-3 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11, .container > .row > .col-sm-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10, .container > .row > .col-sm-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9, .container > .row > .col-sm-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8, .container > .row > .col-sm-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7, .container > .row > .col-sm-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-3, .container > .row > .col-lg-2 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5, .container > .row > .col-sm-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-2, .container > .row > .col-lg-1 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3, .container > .row > .col-sm-3 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-1 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1, .container > .row > .col-sm-1 {
    flex-basis: calc(100% / 12); } }

@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12, .container > .row > .col-lg-11, .container > .row > .col-lg-10, .container > .row > .col-lg-9, .container > .row > .col-lg-8, .container > .row > .col-lg-7, .container > .row > .col-lg-5 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6, .container > .row > .col-lg-4, .container > .row > .col-lg-3 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-2 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-1 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1 {
    flex-basis: calc(100% / 12); } }

@media screen and (min-device-width: 992px) and (max-device-width: 1280px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11, .container > .row > .col-lg-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10, .container > .row > .col-lg-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9, .container > .row > .col-lg-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8, .container > .row > .col-lg-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7, .container > .row > .col-lg-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5, .container > .row > .col-lg-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4, .container > .row > .col-lg-4 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-3 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-2 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1, .container > .row > .col-lg-1 {
    flex-basis: calc(100% / 12); } }

@media screen and (min-device-width: 1280px) {
  .container > .row > .col-xs-12, .container > .row > .col-sm-12, .container > .row > .col-md-12, .container > .row > .col-lg-12 {
    flex-basis: 100%; }
  .container > .row > .col-xs-11, .container > .row > .col-sm-11, .container > .row > .col-md-11, .container > .row > .col-lg-11 {
    flex-basis: calc(100% / (12/11)); }
  .container > .row > .col-xs-10, .container > .row > .col-sm-10, .container > .row > .col-md-10, .container > .row > .col-lg-10 {
    flex-basis: calc(100% / (12/10)); }
  .container > .row > .col-xs-9, .container > .row > .col-sm-9, .container > .row > .col-md-9, .container > .row > .col-lg-9 {
    flex-basis: calc(100% / (12/9)); }
  .container > .row > .col-xs-8, .container > .row > .col-sm-8, .container > .row > .col-md-8, .container > .row > .col-lg-8 {
    flex-basis: calc(100% / (12/8)); }
  .container > .row > .col-xs-7, .container > .row > .col-sm-7, .container > .row > .col-md-7, .container > .row > .col-lg-7 {
    flex-basis: calc(100% / (12/7)); }
  .container > .row > .col-xs-6, .container > .row > .col-sm-6, .container > .row > .col-md-6, .container > .row > .col-lg-6 {
    flex-basis: calc(100% / 2); }
  .container > .row > .col-xs-5, .container > .row > .col-sm-5, .container > .row > .col-md-5, .container > .row > .col-lg-5 {
    flex-basis: calc(100% / (12/5)); }
  .container > .row > .col-xs-4, .container > .row > .col-sm-4, .container > .row > .col-md-4, .container > .row > .col-lg-4 {
    flex-basis: calc(100% / 3); }
  .container > .row > .col-xs-3, .container > .row > .col-sm-3, .container > .row > .col-md-3, .container > .row > .col-lg-3 {
    flex-basis: calc(100% / 4); }
  .container > .row > .col-xs-2, .container > .row > .col-sm-2, .container > .row > .col-md-2, .container > .row > .col-lg-2 {
    flex-basis: calc(100% / 6); }
  .container > .row > .col-xs-1, .container > .row > .col-sm-1, .container > .row > .col-md-1, .container > .row > .col-lg-1 {
    flex-basis: calc(100% / 12); } }

/* OSPAF GRID */
/* GRID */
